<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
	<title>Reporte | tienda.js</title>
</head>
<body>

	<header>
		<% include header_admin %>
	</header>

	<div id="container" class="container my-5">                                                                                    
		<div class="table-responsive">          
			<table id="report" class="table">
				<thead>
					<tr>
						<th colspan="5" class="text-center tiendajs-logo"><img src="../img/tiendajs-logo-green.png"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Fecha</th>
						<th>Id producto</th>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Precio</th>
					</tr>
					<% for(var i = 0; i < result.length; i++){ %>

						<%if(type == "agregados"){ %>
							<tr>
								<td><%= result[i].createdAt%></td>
								<td><%= result[i].code%></td>
								<td><%= result[i].name%></td>
								<td><%= result[i].amount%></td>
								<td><%= result[i].price%></td>
							</tr>
						<% } else if(type == "modificados"){ %>
							<tr>
								<td><%= result[i].updatedAt%></td>
								<td><%= result[i].code%></td>
								<td><%= result[i].name%></td>
								<td><%= result[i].amount%></td>
								<td><%= result[i].price%></td>
							</tr>
						<%}else{%>
							error papu
						<%}%>
					<%}%>
				</tbody>
			</table>
		</div>
	</div>
		<div id="print">
			<button id="printToPDF" class="btn btn-success"">Generar PDF</button>
			<button id="printToXLS" class="btn btn-success"">Generar EXCEL</button>
		</div>

	<footer>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/popper.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/html2canvas.min.js"></script>
		<script src="../js/jsPDF.js"></script>
		<script src="../js/jquery.table2excel.min.js"></script>
	</footer>
	<script type="text/javascript">
		// print to PDF
		$(function() { 
        	$("#printToPDF").click(function() { 
            	html2canvas($("#container"), {
                	onrendered: function(canvas) {
                    	theCanvas = canvas;
                    	doc = new jsPDF('landscape');
                    	doc.addImage(canvas, 'PNG', 10, 0, $("#container").width()*0.25, $("#container").height()*0.2);
                    	d = new Date();
						doc.save(
					  	"reporte-"+d.getDate()+"-"+d.getMonth()+"-"+d.getFullYear()+"-"+d.getHours()+"-"+d.getMinutes()+"-"+d.getSeconds()
					  	);
            		}
            	});
        	});
    	});

    	// print to XLS
		$("#printToXLS").click(function(){
			d = new Date();
			$("#report").table2excel({
				exclude: ".tiendajs-logo",
		    	filename: "reporte-"+d.getDate()+"-"+d.getMonth()+"-"+d.getFullYear()+"-"+d.getHours()+"-"+d.getMinutes()+"-"+d.getSeconds()
			}); 
		});
	</script>
</body>
</html>
